# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Clean Workspace
        # You may pin to the exact commit or the version.
        # uses: AutoModality/action-clean@d004b47eb728f2a83316fc70ba9a62ef97278013
        uses: AutoModality/action-clean@v1.1.0
      - name: GIT checkout
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Setup Chrome
          # You may pin to the exact commit or the version.
          # uses: browser-actions/setup-chrome@4fa655aad48f56911cad16db9252399a9e592848
        uses: browser-actions/setup-chrome@latest
        with:
          # The Chromium version to install and use.
          chromium-version: latest
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew cucumberTest -Pbrowser=chrome
